<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>user.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>user.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipAngajat</servlet-name>
        <servlet-class>user.TipAngajat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfisareTipAngajat</servlet-name>
        <servlet-class>user.AfisareTipAngajat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarFirma</servlet-name>
        <servlet-class>user.CalendarFirma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarPersonal</servlet-name>
        <servlet-class>user.CalendarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFormularConcediu</servlet-name>
        <servlet-class>user.SaveFormularConcediu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Utilizatori</servlet-name>
        <servlet-class>user.Utilizatori</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipAngajat</servlet-name>
        <url-pattern>/TipAngajat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfisareTipAngajat</servlet-name>
        <url-pattern>/AfisareTipAngajat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarFirma</servlet-name>
        <url-pattern>/CalendarFirma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarPersonal</servlet-name>
        <url-pattern>/CalendarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFormularConcediu</servlet-name>
        <url-pattern>/SaveFormularConcediu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Utilizatori</servlet-name>
        <url-pattern>/Utilizatori</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
